@{
    ViewData["Title"] = "Home Page";
}
@using Bank_Accounts.Models
@model Transaction
@* ViewBag.UserTransactions *@
<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UserName</h1>
</div>
<div class="container">
    <div class="row p-3">
        <div class="col border text-center p-3">
            <form asp-action="Transaction" asp-controller="Home" method="post">
                <div class='form-group'>
                    <span asp-validation-for='Amount' style="color: red;"></span>
                    <h1 class="p-2">Make a Transaction</h1>
                    <input type="number" class='form-control' asp-for='Amount' placeholder='Enter a number value.'>
                </div> 
                <button type="submit" class="btn btn-primary text-center">Submit</button>
            </form>
        </div>
        <div class="col bg-success text-center">
            <h1 class="text-white p-3">Current Balance</h1>
            <div class="border">
                <h2 class="text-white">@ViewBag.AccountValue</h2>
            </div>
        </div>
    </div>    
</div>
<div style="max-height: 50rem; overflow: auto;">

<div class="container p-3 border">
    <h1 class="text-left p-2">Transaction History</h1>
    <div class="col text-left">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Transaction Amount</th>
                    <th scope="col">Transaction Date</th>
                </tr>
            </thead>
            <tbody>
                
                    @foreach (var item in @ViewBag.UserTransactions)
                    {   
                        <tr>
                            @{string amount = @item.Amount.ToString("C2");}
                            <td>@amount</td>
                            <td>@item.CreatedAt</td>
                        </tr>
                    }                
            </tbody>
        </table>
    </div>
</div>
</div>